@import "../../styles/mixins.scss";

.breadcumb {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 10px;
  cursor: pointer;

  .item {
    color: #999999;
    font-size: 12px;

    &:hover {
      text-decoration: underline;
    }
  }
}

@include tablet {
  .breadcumb {
    .item {
      font-size: 13px;
    }
  }
}

@include laptop {
  .breadcumb {
    .item {
      font-size: 14px;
    }
  }
}